---
import pest_background from '../../assets/images/pest_background.jpg';
import Checkmark from '../atoms/Checkmark.astro';
---

<section class="bg-custom-light-green">
	<div class="px-4 pt-16 sm:px-6 mx-auto lg:px-8 lg:pt-20 max-w-7xl">
		<div class="grid gap-6 row-gap-10 md:grid-cols-2">
			<div class="relative">
				<img src={pest_background} alt="image" loading="lazy" width="" height="" />
			</div>
			<div class="">
				<h2 class="text-2xl text-gray-900 font-heading md:text-4xl">
					<span class="text-custom-orange-two">Pest Control Experts</span> You Can Trust
				</h2>
				<p class="mt-6">
					Are you looking for pest removal services? Need a local exterminator to get rid of pests permanently? Look no
					further! We pride ourselves by staying vigilant at keeping our customers happy by providing the best, fully
					customized pest control services for any pest situation. We operate 24/7, all year round, rain or shine.
				</p>
				<div class="bg-custom-medium-green rounded-xl shadow-lg px-4 space-y-4 py-12 sm:px-12 lg:px-8 mt-4">
					<h3 class="text-2xl font-semibold text-custom-orange-two">Full Pest Removal Services</h3>
					<div class="grid grid-cols-3 gap-2 text-custom-blue-two text-sm">
						<div class="flex"><Checkmark />Ants</div>
						<div class="flex"><Checkmark />Gophers</div>
						<div class="flex"><Checkmark />Skunks</div>
						<div class="flex"><Checkmark />Bats</div>
						<div class="flex"><Checkmark />Mice</div>
						<div class="flex"><Checkmark />Snakes</div>
						<div class="flex"><Checkmark />Bed Bugs</div>
						<div class="flex"><Checkmark />Moles</div>
						<div class="flex"><Checkmark />Spiders</div>
						<div class="flex"><Checkmark />Bees</div>
						<div class="flex"><Checkmark />Mosquitos</div>
						<div class="flex"><Checkmark />Stingers</div>
						<div class="flex"><Checkmark />Birds</div>
						<div class="flex"><Checkmark />Opossums</div>
						<div class="flex"><Checkmark />Termites</div>
						<div class="flex"><Checkmark />Cockroaches</div>
						<div class="flex"><Checkmark />Rats</div>
						<div class="flex"><Checkmark />Wasps</div>
						<div class="flex"><Checkmark />Fleas</div>
						<div class="flex"><Checkmark />Rodents</div>
						<div class="flex"><Checkmark />and more!</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
