---


const items = [
	[
		{
			question: 'Can I get a free estimate?',
			answer: `Yes you can! We will always provide you the exact price of our services on-site before any work has been done. If agreed on, work can start that same day.`,
		},
		{
			question: 'How do your services work?',
			answer: `Give us a call – speak with a qualified representative to help us understand the problem. Then schedule an inspection – earlier the better, we don’t want pests multiplying! Exterminator Services – our pest technician(s) will arrive and assess what services are needed during the inspection. We will provide you the exact cost and treatment needed on location. If you agree, we can start work that same day!`,
		},
		{
			question: "What's something that you completely don't understand?",
			answer: `A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.`,
		},
	],
	[
		{
			question: "How much does it cost?",
			answer: `Depending on the pest-type, size, and severity of your situation, costs can vary. After your free pest inspection, we will provide you with the entire price of treatment on location. The rest is up to you!`,
		},
		{
			question: 'Will you be able to remove pests permanently?',
			answer: `Yes we can and yes we will! Our pest control service providers are here for one thing: to get rid of pests! We also provide our customers seasonal services and preventative measures to keep your home pest-free during those nastier seasons!`,
		},
		{
			question: 'What if I\'m not happy with the results?',
			answer: `Nobody is perfect, including us. On the rare occasion where you are not happy with our pest control services, let us know. We will give you your money back (but not those pests). Simple as that, no questions asked.`,
		},
	],
];
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div class="max-w-xl sm:mx-auto lg:max-w-2xl">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2 class="max-w-lg mb-4 text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto font-heading">
				Frequently Asked Questions
			</h2>
		</div>
	</div>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer }) => (
							<div>
								<p class="mb-4 text-xl font-bold">
									<!--<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block icon-bold" />-->
									{question}
								</p>
								{answer.split('\n\n').map((paragraph) => (
									<p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
								))}
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</div>
