---
import Stars from '../../components/atoms/Stars.astro';
const { slogan, description, picture, name } = Astro.props;
---

<div class="swiper-slide">
	<div class="mx-auto text-center space-y-6 md:w-8/12 lg:w-7/12">
		<img class="w-20 h-20 mx-auto" src={picture} alt="user avatar" height="220" width="220" loading="lazy" />
		<p class="text-black font-bold dark:text-gray-400 text-md m-4">"{slogan}"</p>
		<p class="text-gray-600">
			<span class="font-serif">"</span>
			{description}
			<span class="font-serif">"</span>
		</p>
		<div>
			<h6 class="text-lg font-semibold leading-none pb-3">{name}</h6>
			<Stars />
		</div>
	</div>
</div>
